@model IEnumerable<findmytutor.Models.TutorSearchModel>
@*@using findmytutor.Models;
@model Tutor*@

@{
    ViewBag.Title = "Home Page";
    //Layout = null;
}


<div class="jumbotron">
    <h1 style="text-align:center"> Welcome to Find My Tutor</h1>
    <p class="lead" style="text-align:center"><b>Find my tutor</b> is a free platform for tutors and students to connect easily.</p>


</div>

<center>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.TextBox("searching")
        <input type="submit" value=" Find a tutor" class="btn btn-sm btn-success" />
    }
</center>
<br />
<br />
<table class="table table-striped">
    <thread>
        <tr>
            <th>Tutor Name</th>
            <th>Tutor State</th>
            <th>Tutor City</th>
            <th>Tutor PhoneNumber</th>
            <th>Tutor Email Address</th>
            <th>Tutor Address</th>
        </tr>
    </thread>
    @if (Model.Count() ==0)
    {
        <tr>
            <td colspan="3" style="color:red">
                No tutors found
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.State</td>
                <td>@item.City</td>
                <td>@item.PhoneNumber</td>
                <td>@item.EmailAddress</td>
                <td>@item.Address</td>
            </tr>
        }
    }

</table>

<hr />

<h2 style="text-align:center">Why Us?</h2>
<p style="text-align:center">
    There are plenty of institutes and tuition centres to choose from,
    especially when it comes to online tuition classes as we're living in the Internet era.
    You can check through the reviews and ratings of different tuition centres and tutors available with <b>Find my tutor</b> to find the best one for yourself.
</p>
@*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@

<div class="row">
    <div class="col-md-4" style=" width: 50%; margin: 60px auto 60px auto; text-align: left; line-height: 1.5;">
        <h2>Why we are helpful for tutors? </h2>
        <p>We provide you with a complete business package and easy connection so you can focus on helping students.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@

    </div>
    <div class="col-md-4" style=" width: 50%; margin: 60px auto 60px auto; text-align: left; line-height: 1.5;">
        <h2>Finding your child's perfect tutor</h2>
        <p>Looking through tutor profiles from the search results, you can talk in real time to as many tutors as you want to discuss your child's needs.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>
