@using findmytutor.Models;
@model RegisterModel
@{
    ViewBag.Title = "RegisterPage";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="963433840248-r8ln1nk1v541je2egehqj8dnsqqcc9ei.apps.googleusercontent.com" />
    <title>Find My Tutor Application</title>
    <meta name="author" content="">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/RegisterPage(1).css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet" />
    <link href="~/Content/RegisterPage(3).css" rel="stylesheet" />
    <link href="~/Content/RegisterPage(4).css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/RegisterPage(2).css" />
</head>
<body>
    <section>
        @*<div class="header text-center">
                <header style="font-size: xx-large; color: black;">Findmytutor</header>
            </div>*@
        <div class="content register-top">
            <div class="register-box scrollbar">
                <p class="p_continue">Please Register to Continue</p>
                <div id="divRegistermsg" class="alert alert-success" style="display:none; z-index: 1050; position: relative; padding: 5px 10px; margin: 5px 0;">
                    <strong></strong>
                </div>
                @*<div class="register-form" id="emailId">*@
                <center>@Html.ValidationSummary(true, null, new { @class = "text-danger", style = "font-size:20px" })</center>
                @using (Html.BeginForm("AddUser", "Register", FormMethod.Post, new { @id = "Registerform", @class = "mb-lg", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-input">
                        @*<input type="text" name="Name" id="Name" class="form-control" placeholder="Name" required>*@
                        @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "form-control", @required = "required", @placeholder = "Name", @autocomplete = "off" })
                    </div>

                    <div class="form-input">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @id = "yourEmail", @class = "form-control", @required = "required", @placeholder = "Enter Email", @autocomplete = "off" })
                    </div>
                    <div class="form-input number_in">
                        @*<input id="txtMobileNo" type="text" name="MobileNumber" class="form-control" placeholder="Phone Number" required>*@
                        @Html.TextBoxFor(m => m.MobileNumber, new { @id = "txtMobileNo", @class = "form-control", @required = "required", @placeholder = "Phone Number", @autocomplete = "off" })
                        <span>+91</span>
                    </div>
                    <div class="form-input">
                        @*<input type = "password" name="Password" id="regpass" class="form-control" placeholder="Password" required>*@
                        @Html.TextBoxFor(m => m.Password, new { @id = "regpass", @class = "form-control", @required = "required", @placeholder = "Enter Password", @autocomplete = "off", @type = "password" })
                    </div>
                    @*<div class="form-input">
                        <input id="txtconfrmPassword" type="password" name="confrmPassword" class="form-control" placeholder="Confirm Password">
                        @Html.TextBoxFor(m => m.Password, new { @id = "txtPassword", @class = "form-control", @required = "required", @placeholder = "Enter Password", @autocomplete = "off", @type = "password" })
                    </div>*@
                    <div class="form-input">
                        @*<input type="text" name="Address" id="txtaddress" class="form-control" placeholder="Address" required />*@
                        @Html.TextBoxFor(m => m.Address, new { @id = "txtaddress", @class = "form-control", @required = "required", @placeholder = "Address", @autocomplete = "off", @type = "password" })
                    </div>
                    <div class="form-input">
                        @*<input type = "text" name="State" id="txtstate" class="form-control" placeholder="State" required />*@
                        @Html.DropDownListFor(m=>m.State, ViewBag.StatesTb1 as SelectList,"--Select State--", new { @class = "form-control" })
                    </div>
                    <div class="form-input">
                        @*<input type = "text" name="City" id="txtcity" class="form-control" placeholder="City" required />*@
                        @*@<select class="form-control" id="cities" name="cities"></select>*@
                        @Html.DropDownListFor(m=>m.City, ViewBag.citiesTb1 as SelectList,"--Select City--", new { @class = "form-control" })
                    </div>

                    <button type = "submit" class="lrbtn">Sign Up</button>
                    @*<p class="or">
                    Or
                    </p>*@
                        @*<ul class="social-media">
                        <li><img class="google" src="#" /></li>
                        <li><img src="#" /></li>
                        </ul>*@
                    @*<p class="">Already Have An Account ?.<a href="/Login/LoginPage">Sign In</a></p>*@
                    <p class="">Already Have An Account ?.@Html.ActionLink("Sign In", "LoginPage", "Login", new { area = "" }, new { @class = "" })</p>
                }
            </div>
        </div>
</section>
</body>
</html>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#loginpagelinkid").addClass("myactive");
            $("#homelinkid").removeClass("myactive");

            $("#cities").hide();
        });


    </script>
}